.car {
    width: 20vw;
    position: absolute;
  bottom: 10px;
}

.body {
    width: 100%;
    height: auto;
}

.wheelContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-left: 2vw;
    position: absolute;
    left: 0;
    bottom: 0;
}
.wheel {
    width: 3.5vw;
    height: auto;
}
