.app-container {
    overflow: hidden; /* Hide the overflow to create the parallax effect */
  }
  
  @keyframes scroll {
    0% {
      background-position: 0px 0px; /* Start position */
    }
    100% {
      background-position: -1920px 0px; /* End position (adjust based on image width) */
    }
  }
  
  .car-container {
    position: absolute;
    left: 50%; /* Center the car horizontally */
    bottom: 10%; /* Adjust the vertical position as needed */
    transform: translateX(-50%); /* Center the car using transform */
    z-index: 1; /* Ensure the car appears above the background */
  }
  
  .car-image {
    width: 100px; /* Adjust size as needed */
    height: 50px;
  }
  