/* raceTrack.css */

.parallax-container {
  width: 100vw;
}

.race-track-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.race-car {
  width: 10vw;
  height: auto;
  position: absolute;
  bottom: 10px;
}

.star {
  position: absolute;
}

.rare-tree {
  width: 10vw;
  height: auto;
  position: absolute;
  bottom: 20vh;
}


.star {
  position: absolute;
  width: 20px;
  height: auto;
  pointer-events: none;
  z-index: 1;
}