.tachometer-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.tachometer-bg {
  width: 100%;
  height: 100%;
}

.arrow {
  position: absolute;
  width: 2px;
  height: 100px;
  background-color: #000;
  top: 50%;
  left: 50%;
  transform-origin: bottom;
}

.speed-text,
.performance-text,
.warning-text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.warning-text {
  bottom: 40px;
}
